<div class="q-container">
  <div>
    <ul class="cards-content card-type">
      <li>
        <div>
          <div>
            <a href="{{theme-i18n "cards.item1.url"}}" target="_blank">
              <figure>
                <div class="icon {{theme-i18n "cards.item1.icon"}}"></div></figure>
              <h3>{{theme-i18n "cards.item1.title"}}</h3>
              <p>{{theme-i18n "cards.item1.description"}}</p>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div>
          <div>
            <a href="{{theme-i18n "cards.item2.url"}}" target="_blank">
              <figure>
                <div class="icon {{theme-i18n "cards.item2.icon"}}"></div></figure>
              <h3>{{theme-i18n "cards.item2.title"}}</h3>
              <p>{{theme-i18n "cards.item2.description"}}</p>
            </a>
          </div>
        </div>
      </li>
      <li>
        <div>
          <div>
            <a href="{{theme-i18n "cards.item3.url"}}" target="_blank">
              <figure>
                <div class="icon {{theme-i18n "cards.item3.icon"}}"></div></figure>
              <h3>{{theme-i18n "cards.item3.title"}}</h3>
              <p>{{theme-i18n "cards.item3.description"}}</p>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>