<ul class="custom-header-links">
  <li class="headerLink">
    <a href="{{theme-i18n 'navs.nav1.url'}}" target="_blank">
      {{theme-i18n "navs.nav1.title"}}
    </a>
  </li>
  <li class="headerLink">
    <a href="{{theme-i18n 'navs.nav2.url'}}" target="_blank">
      {{theme-i18n "navs.nav2.title"}}
    </a>
  </li>
  <li class="headerLink">
    <a href="{{theme-i18n 'navs.nav3.url'}}" target="_blank">
      {{theme-i18n "navs.nav3.title"}}
    </a>
  </li>
  <li class="headerLink">
    <a href="{{theme-i18n 'navs.nav4.url'}}" target="_blank">
      {{theme-i18n "navs.nav4.title"}}
    </a>
  </li>
  <li class="headerLink">
    <a href="{{theme-i18n 'navs.nav5.url'}}" target="_blank">
      {{theme-i18n "navs.nav5.title"}}
    </a>
  </li>
</ul>